@import "./variables";
body{
    font-family: $main-font;
}
.title-1{
    font-family: $main-font;
    font-weight: bold;
    color: #FF5F00;
    margin: 20px;
    font-size: 35px;
    text-align: center;
    @media (max-width: 420px) {
        font-size: 25px;
    }
}
.subtitle-photos{
    font-family: $main-font;
    font-weight: normal;
    color: #FF5F00;
}
.p-light{
    font-family: $main-font;
    font-weight: normal;
    color: #867B7B;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    margin: 0;
    padding: 0;
}
.bg-pendding{
    background-color: $color-pendding !important;
}
.bg-notfound{
    background-color: $color-notfound!important;
}
.bg-transit{
    background-color: $color-transit!important;
}
.bg-pickup{
    background-color: $color-pickup!important;
}
.bg-delivered{
    background-color: $color-delivered!important;
}
.bg-expired{
    background-color: $color-expired!important;
}
.bg-undelivered{
    background-color: $color-undelivered!important;
}
.bg-exception{
    background-color: $color-exception!important;
}
.color-active{
    color: $color-orange !important;
}