/* @import "./variables"; */
body{
    font-family: "Nunito", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
}
.title-1{
    font-family: "Nunito", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
    font-weight: bold;
    color: #FF5F00;
    margin: 20px;
    font-size: 35px;
    text-align: center;
    @media (max-width: 420px) {
        font-size: 25px;
    }
}
.subtitle-photos{
    font-family: "Nunito", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
    font-weight: normal;
    color: #FF5F00;
}
.p-light{
    font-family: "Nunito", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
    font-weight: normal;
    color: #867B7B;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    margin: 0;
    padding: 0;
}