$main-font: 'Poppins', sans-serif;
/* COLORES DE LOS ESTADOS DE LOS ENVIOS */
$color-pendding: #FACD5B;
$color-notfound: #000000;
$color-transit: #2087A7;
$color-pickup: #4F4E7C;
$color-delivered: #47D117;
$color-expired: #FB2E2E;
$color-undelivered: #FB2E2E;
$color-exception: #FB2E2E;

/* COLORES ADICIONALES*/
$color-orange: #FE5F06;